<!-- about us -->
<section class="rts-about v__1 rt-relative rts-section-padding">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-5 col-xl-5 col-md-10">
                <div class="rts-about-image">
                    <img src="assets/images/about/about-01.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-7 col-xl-7 col-md-10">
                <div class="rts-about-content">
                    <div class="rts-about-flex mb--10">
                        <h2 class="section-title w-320">
                            About <span class="rts-line"></span>
                            Our University
                        </h2>
                        <div class="about-rounded-text">
                            <!-- <img src="assets/images/about/about-circle.png" alt="about college"> -->

                            <div class="rt-rounded-shape">
                                <svg class="uni-circle-text-path uk-text-secondary uni-animation-spin" viewBox="0 0 100 100" width="120" height="120">
                                    <defs>
                                      <path id="circle" d="M50,50 m-37,0a37,37 0 1,1 74,0a37,37 0 1,1 -74,0"></path>
                                    </defs>
                                    <text font-size="9.75">
                                      <textPath xlink:href="#circle">Studyhub University * Estd-1971 * Explore Future</textPath>
                                    </text>
                                  </svg>
                                  <div class="rt-round-dot-center"></div>
                            </div>
                               
                        </div>
                    </div>
                    <p class="rts-paragraph mb--50">
                        At University Studyhub, we believe in the transformative power of education and the boundless potential within every individual. Established in 1971, we have been dedicated to fostering intellectual curiosity, academic excellence, and a vibrant campus community.
                    </p>
                    <a href="#" class="about-btn rts-nbg-btn btn-arrow">University Overview <span><i class="fa-sharp fa-regular fa-arrow-right"></i></span></a>
                    <div class="about-positioned-text ">
                        <h2 class="rt-clip-text">EST. 1971</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center pt--145">
            <h2 class="section-title h1 rt-center mb--50">Our Campus Tour</h2>
            <div class="col-lg-12 col-md-10">
                <div class="rts-video-section height-500 mb--50"
                                style="background-image: url(assets/video/video-1.png);">
                    <a href="https://www.youtube.com/watch?v=UmzFk68Bwdk" class="rts-video-section-player popup-video video-btn">
                        <i class="fa-sharp fa-solid fa-play"></i>
                    </a>
                    <img src="assets/images/about/video-thumb.jpg" alt="video-bg">
                </div>
            </div>
            <div class="col-lg-8 col-md-10">
                <div class="rts-video-section-text rt-center mx-3">
                    <p>Embark on a journey of knowledge, discovery, and growth at  Studyhub University. Our admissions process is designed to identify bright, motivated individuals who are eager to contribute to our dynamic academic community. Whether you're a recent high school graduate or a transfer student seeking a new academic home, we invite you to explore the possibilities that await you.</p>
                    <a href="#" class="mt--15 about-btn rts-nbg-btn btn-arrow">Visit Campus <span><i class="fa-sharp fa-regular fa-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="rt-shape">
        <img class="rt-shape__1" src="assets/images/about/shape/01.png" alt="">
        <img class="rt-shape__2" src="assets/images/about/shape/02.png" alt="">
        <img class="rt-shape__3" src="assets/images/about/shape/03.png" alt="">
        <img class="rt-shape__4" src="assets/images/about/shape/04.png" alt="">
    </div>
</section>
<!-- about us end -->