<!-- apply start -->
<section class="rts-application-area moving @@class">
    <div class="container">
        <div class="row justify-content-center">
            <div class="rts-section rt-center mb--50 w-460">
                <h2 class="rts-section-title mb--10 rt-white">Apply for Admission</h2>
                <p class="rt-white">Welcome to the gateway of possibilities your admission to Studyhub University. At Studyhub, we understand.</p>
            </div>
        </div>
        <!-- application form -->
        <div class="row justify-content-md-center">
            <div class="col-md-11 col-lg-6 col-xl-7">
                <div class="rts-admission-form-image">
                    <img src="assets/images/feature/admission-form.jpg" alt="">
                </div>
            </div>
            <div class="col-md-11 col-lg-6 col-xl-5">
                <div class="rts-application-form">
                    <div class="rts-application-form-content">
                        <h5 class="heading-title  mb--25">Application Form</h5>
                        <form action="#" class="rts-form">
                            <div class="rts-input rt-flex">
                                <div class="single-input">
                                    <input type="text" name="fname" id="fname" placeholder="First Name" required>
                                </div>
                                <div class="single-input">
                                    <input type="text" name="lname" id="lname" placeholder="Last Name" required>
                                </div>
                            </div>
                            <div class="rts-input rt-flex">
                                <div class="single-input">
                                    <input type="email" name="email" id="email2" placeholder="Email.." required>
                                </div>
                                <div class="single-input">
                                    <input type="number" name="Phone" id="Phone" placeholder="Phone" required>
                                </div>
                            </div>

                            <div class="rts-input rt-flex">
                                <div class="single-input">
                                    <input type="text" name="address" id="address" placeholder="address" required>
                                </div>
                                <div class="single-input">
                                    <input type="text" name="city" id="city" placeholder="City" required>
                                </div>
                            </div>

                            <div class="rts-input rt-flex">
                                <div class="single-input">
                                    <input type="text" name="country" id="country" placeholder="Country" required>
                                </div>
                                <div class="single-input">
                                    <input type="number" name="zip" id="zip" placeholder="Zip Code" required>
                                </div>
                            </div>
                            <div class="rts-input w-full">
                                <div class="single-input">
                                    <input type="text" name="data" id="datepicker" placeholder="dd/mm/yy" required>
                                </div>
                            </div>
                            <div class="rts-input w-full">
                                <div class="single-input">
                                   <textarea name="msg" id="msg" placeholder="Enter Your Comments"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="rts-theme-btn rts-nbg-btn btn-arrow v2 full-btn">Apply Now <span><i class="fa-sharp fa-regular fa-arrow-right"></i></span></button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="rt-shape">
            <img src="assets/images/feature/shape/01.svg" data-speed="0.04" alt="shape" class="rt-shape__1">
            <img src="assets/images/feature/shape/02.svg" data-speed="0.04" alt="shape" class="shape rt-shape__2">
            <img src="assets/images/feature/shape/03.svg" data-speed="0.04" alt="shape" class="shape rt-shape__3">
            <img src="assets/images/feature/shape/04.svg" data-speed="0.04" alt="shape" class="shape rt-shape__4">
            <img src="assets/images/feature/shape/05.svg" data-speed="0.04" alt="shape" class="shape rt-shape__5">
        </div>
    </div>
</section>
<!-- apply end -->
