<!-- single section -->
<div class="rts-campus-section @@class">
    <div class="container">
        <div class="row">
            <div class="rts-section rt-center mb--35">
                <h3 class="rts-section-title">@@section-title</h3>
            </div>
        </div>
        <div class="row g-5">
            <!-- single item -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-item">
                    <div class="single-item__content">
                        <div class="single-item__image">
                            <img src="assets/images/campus/@@img" alt="@@alt">
                        </div>
                        <div class="single-item__meta">
                            <h5 class="item-title"><a href="program-single.html">@@title</a></h5>
                            <p class="item-description">@@desc</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single item end -->
            <!-- single item -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-item">
                    <div class="single-item__content">
                        <div class="single-item__image">
                            <img src="assets/images/campus/@@img-2" alt="@@alt">
                        </div>
                        <div class="single-item__meta">
                            <h5 class="item-title"><a href="program-single.html">@@title-2</a></h5>
                            <p class="item-description">@@desc-2</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single item end -->
            <!-- single item -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-item">
                    <div class="single-item__content">
                        <div class="single-item__image">
                            <img src="assets/images/campus/@@img-3" alt="@@alt">
                        </div>
                        <div class="single-item__meta">
                            <h5 class="item-title"><a href="program-single.html">@@title-3</a></h5>
                            <p class="item-description">@@desc-3</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single item end -->
        </div>
    </div>
</div>
<!-- single section end -->
