<!-- campus life start -->
<div class="rts-campus @@class">
    <div class="container">
        <div class="row justify-content-sm-center justify-content-lg-start">
            <div class="col-lg-6 col-xl-5 col-md-10 col-sm-11">
                <div class="rts-left-section">
                    <h2 class="section-title rt-white mb--55">
                        Immerse Yourself in Vibrant Campus Life at Studyhub University
                    </h2>
                    @@include('utilities/campus-btn.html',{
                        'class': "rt-white"
                    })
                    
                </div>
            </div>
            <div class="col-lg-6 col-xl-7 col-md-10 col-sm-11">
                <div class="rts-right-section rt-relative">
                    <p class="rt-white mb--40">Embark on a journey of knowledge, discovery, and growth at  Studyhub University. Our admissions process is designed to identify bright, motivated individuals who are eager to contribute to our dynamic academic community.</p>
                    <img src="assets/images/feature/01.jpg" alt="campus images">
                    <div class="rts-round-shape"></div>
                </div>
            </div>
        </div>
        <div class="bottom-text rt-clip-text">Campus Life</div>
        <div class="rt-shape">
            <img class="rt-shape__1" data-speed="0.04" src="assets/images/feature/shape/01.png" alt="">
            <img class="shape rt-shape__2" data-speed="0.04" src="assets/images/feature/shape/02.png" alt="">
            <img class="shape rt-shape__3" data-speed="0.04" src="assets/images/feature/shape/03.png" alt="">
            <img class="shape rt-shape__4" data-speed="0.04" src="assets/images/feature/shape/04.png" alt="">
        </div>
    </div>
</div>
<!-- campus life end -->