<!-- campus life start -->
<div class="rts-campus @@class">
    <div class="container">
        <div class="row g-40 align-items-center">
            <div class="col-lg-6">
                <div class="rts-left-section">
                    <h2 class="section-title">
                        Campus
                        <span>History</span>
                    </h2>
                    <div class="left-section-content">
                        <p>Founded on the principles of knowledge, innovation, and community, Studyhub University has a storied history that spans decades of academic excellence and societal impact. Our journey began with a vision to create a center of learning that would not only shape individual futures but contribute to the advancement of society as a whole.</p>
                        <a href="#" class="rts-theme-btn primary btn-arrow">Read More<span><i class="fa-thin fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="rts-right-section rt-relative">
                    <div class="rt-rounded-shape">
                        <svg class="uni-circle-text-path uk-text-secondary uni-animation-spin" viewBox="0 0 100 100" width="156" height="156">
                            <defs>
                                <path id="circle" d="M50,50 m-37,0a37,37 0 1,1 74,0a37,37 0 1,1 -74,0"></path>
                            </defs>
                            <text font-size="9.75" class="round-animation">
                                <textPath xlink:href="#circle">Studyhub University * Estd-1971 * Explore Future</textPath>
                            </text>
                        </svg>
                        <span><i class="fa-thin fa-arrow-right"></i></span>
                    </div>
                    <div class="campus-video">
                        <img src="assets/images/feature/campus-2.jpg" alt="campus images">
                        <a class="video-play popup-video" href="https://www.youtube.com/watch?v=Uwq1uiuM_9w" savefrom_lm_index="2" savefrom_lm="1">
                            <img src="assets/images/icon/play-round.svg" class="round" alt="">
                            <img src="assets/images/icon/play-icon.svg" class="play-icon" alt="">
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- <div class="rt-shape">
            <img class="rt-shape__1" src="assets/images/feature/shape/01.png" alt="">
            <img class="rt-shape__2" src="assets/images/feature/shape/02.png" alt="">
            <img class="rt-shape__3" src="assets/images/feature/shape/03.png" alt="">
            <img class="rt-shape__4" src="assets/images/feature/shape/04.png" alt="">
        </div> -->
    </div>
</div>
<!-- campus life end -->