
 <div class="rts-funfact @@class">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 @@col">
                <div class="rts-funfact-wrapper">
                    <div class="single-cta-item">
                        <h2 class="rt-clip-text">@@one</h2>
                        <p>@@one-desc</p>
                    </div>
                    <div class="single-cta-item">
                        <h2 class="rt-clip-text">@@two</h2>
                        <p>@@two-desc</p>
                    </div>
                    <div class="single-cta-item">
                        <h2 class="rt-clip-text">@@three</h2>
                        <p>@@three-desc</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
