<!-- header style two -->
<div id="side-bar" class="side-bar">
    <button class="close-icon-menu"><i class="far fa-times"></i></button>
    <!-- inner menu area desktop start -->
    <div class="inner-main-wrapper-desk">
        <div class="thumbnail">
            <img src="assets/images/logo/logo-default.svg" alt="studyhub-university">
        </div>
        <div class="inner-content">
            <p class="disc">
                A modern HTML template for education, offering intuitive design & essential features for seamless learning experiences.
            </p>
            <!-- offcanvase banner -->
            <div class="offcanvase__banner mt--50">
                <div class="offcanvase__banner--content">
                    <img src="assets/images/offcanvase.jpg" alt="offcanvase">
                    <a href="admission.html" class="rts-theme-btn">Apply Now</a>
                </div>
            </div>
            <div class="offcanvase__info">
                <div class="offcanvase__info--content">
                    <a href="callto:+61485826710"><span><i class="fa-sharp fa-light fa-phone"></i></span>+(61) 485-826-710</a>
                    <a href="#"><span><i class="fa-sharp fa-light fa-location-dot"></i></span>Yarra Park, Melbourne, Australia</a>
                    <div class="offcanvase__info--content--social">
                        <p class="title">Follow Us:</p>
                        <div class="social__links">
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
    <!-- mobile menu area start -->
    <div class="mobile-menu-main">
        <nav class="nav-main mainmenu-nav mt--30">
            <ul class="mainmenu metismenu" id="mobile-menu-active">

                <li class="has-droupdown">
                    <a href="#" class="main">Homepages</a>
                    <ul class="submenu mm-collapse">
                        <li><a class="mobile-menu-link" href="index.html">Home Style One</a></li>
                        <li><a class="mobile-menu-link" href="index-two.html">Home Style Two</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Events</a>
                    <ul class="submenu mm-collapse">
                        <li><a class="mobile-menu-link" href="event.html">Event</a></li>
                        <li><a class="mobile-menu-link" href="event-details.html">Event Details</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Academics</a>
                    <ul class="submenu mm-collapse">
                        <li><a class="mobile-menu-link" href="academic.html">Academic</a></li>
                        <li><a class="mobile-menu-link" href="admission.html">Admission</a></li>
                        <li><a class="mobile-menu-link" href="academic-area.html">Academic Area</a></li>
                        <li><a class="mobile-menu-link" href="campus-life.html">Campus Life</a></li>
                        <li><a class="mobile-menu-link" href="scholarship.html">Scholarship</a></li>
                        <li><a class="mobile-menu-link" href="tution-fee.html">Tution Fee</a></li>
                        <li><a class="mobile-menu-link" href="program-single.html">Program Single</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Pages</a>
                    <ul class="submenu mm-collapse">
                        <li><a class="mobile-menu-link" href="about.html">About Us</a></li>
                        <li><a class="mobile-menu-link" href="athletics.html">Athletics</a></li>
                        <li class="has-dropdown third-lvl">
                            <a href="javascript:void(0);">Faculty</a>
                            <ul class="submenu third-lvl base">
                                <li><a class="mobile-menu-link" href="faculty.html">Faculty</a></li>
                                <li><a class="mobile-menu-link" href="faculty-details.html">Faculty details</a></li>
                            </ul>
                        </li>
                        <li><a class="mobile-menu-link" href="research.html">Research</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Blog</a>
                    <ul class="submenu mm-collapse">
                        <li><a class="mobile-menu-link" href="blog.html">Blog</a></li>
                        <li><a class="mobile-menu-link" href="blog-grid.html">Blog Grid</a></li>
                        <li><a class="mobile-menu-link" href="blog-list.html">Blog List</a></li>
                        <li><a class="mobile-menu-link" href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li>
                    <a href="contact.html" class="main">Contact Us</a>
                </li>
            </ul>
        </nav>

        <div class="rts-social-style-one pl--20 mt--100">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- mobile menu area end -->
</div>
<!-- header style two End -->
