<!-- program start -->
<section class="rts-program rts-section-padding @@class">
    <div class="container">
        <div class="row justify-content-md-center justify-content-start">
            <div class="col-md-11 col-lg-12">
                <div class="rts-section mb--40 rt-between">
                    <h2 class="rts-section-title">Discover Our Programs</h2>
                    <a href="#" class="about-btn rts-nbg-btn btn-arrow">More Program <span><i class="fa-sharp fa-regular fa-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
        <!-- program content -->
        <div class="row g-5 justify-content-sm-center justify-content-md-start">
            <div class="col-lg-4 col-md-6 col-sm-11">
                <div class="rts-program-single">
                    <div class="rts-program-single__content">
                        <div class="program-image">
                            <img src="assets/images/program/01.jpg" alt="program image">
                        </div>
                        <div class="content rt-flex">
                            <div class="icon">
                                <img src="assets/images/program/icon/03.svg" alt="education">
                            </div>
                            <a href="#" class="program-link">Graduate Admissions</a>
                        </div>
                        <div class="rts-program-hover">
                            <div class="icon">
                                <img src="assets/images/program/icon/03.svg" alt="education">
                            </div>
                            <a href="#" class="program-link">Graduate Admissions</a>
                            <p>Embark on a journey of knowledge, discovery, and growth at  Studyhub University.</p>
                            @@include('utilities/nobg-btn.html',{
                                "class": "rt-white before-white"
                            })
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-11">
                <div class="rts-program-single">
                    <div class="rts-program-single__content">
                        <div class="program-image">
                            <img src="assets/images/program/02.jpg" alt="program image">
                        </div>
                        <div class="content rt-flex">
                            <div class="icon">
                                <img src="assets/images/program/icon/01.svg" alt="education">
                            </div>
                            <a href="#" class="program-link">Undergraduate Admissions</a>
                        </div>
                        <div class="rts-program-hover">
                            <div class="icon">
                                <img src="assets/images/program/icon/01.svg" alt="education">
                            </div>
                            <a href="#" class="program-link">Undergraduate Admissions</a>
                            <p>Embark on a journey of knowledge, discovery, and growth at  Studyhub University.</p>
                            @@include('utilities/nobg-btn.html',{
                                "class": "rt-white before-white"
                            })
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-11">
                <div class="rts-program-single">
                    <div class="rts-program-single__content">
                        <div class="program-image">
                            <img src="assets/images/program/03.jpg" alt="program image">
                        </div>
                        <div class="content rt-flex">
                            <div class="icon">
                                <img src="assets/images/program/icon/02.svg" alt="education">
                            </div>
                            <a href="#" class="program-link">Graduate Admissions</a>
                        </div>
                        <div class="rts-program-hover">
                            <div class="icon">
                                <img src="assets/images/program/icon/02.svg" alt="education">
                            </div>
                            <a href="#" class="program-link">Graduate Admissions</a>
                            <p>Embark on a journey of knowledge, discovery, and growth at  Studyhub University.</p>
                            @@include('utilities/nobg-btn.html',{
                                "class": "rt-white before-white"
                            })
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- program end -->