<!-- research area -->
<section class="rts-research @@class">
    <div class="container">
        <div class="section-bg rt-relative">
            <div class="row justify-content-md-center">
                <div class="col-lg-5 col-md-11">
                    <div class="rts-research-image">
                        <img src="assets/images/feature/research-1.jpg" alt="research">
                    </div>
                </div>
                <div class="col-lg-7 col-md-11">
                    <div class="research-content-area">
                        <h2 class="rts-section-title mt--80 mb--20">
                            University Research Centers
                            and Institutes:
                        </h2>
                        <p>Discover a network of cutting-edge research centers and institutes that serve as hubs of innovation
                            within Studyhub University From state-of-the-art laboratories.</p>
                        <div class="research-subject mt--30">
                            <div class="single-research">
                                <div class="icon">
                                    <img src="assets/images/icon/09.svg" alt="biomedical">
                                </div>
                                <div class="content">
                                    <h6>Biomedical Sciences</h6>
                                    <p>
                                        Delve into groundbreaking
                                        research in biomedical Sciences
                                    </p>
                                </div>
                            </div>
                            <div class="single-research">
                                <div class="icon">
                                    <img src="assets/images/icon/10.svg" alt="biomedical">
                                </div>
                                <div class="content">
                                    <h6>Health and Medicine</h6>
                                    <p>
                                        From clinical trials to public
                                        health initiatives
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="research-meta-info mt--50 mb--70">
                            <a href="#" class="rts-theme-btn btn-arrow">Join Community<span><i
                                        class="fa-thin fa-arrow-right"></i></span></a>
                            <div class="research-author">
                                <div class="image">
                                    <img src="assets/images/author/01.png" alt="author">
                                </div>
                                <div class="info">
                                    <h6>Jon Pool</h6>
                                    <p>Research Manager</p>
                                </div>
                            </div>
                            <div class="research-author">
                                <div class="image">
                                    <img src="assets/images/icon/phone.svg" alt="phone">
                                </div>
                                <div class="info">
                                    <h6><a href="callto:121">+1012405451</a></h6>
                                    <p>Phone Number</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="research-big-text rt-clip-text">Our Research Community</div>
                </div>
            </div>
            
        </div>
        <div class="rt-shape">
            <div class="rt-shape__1">
                <img src="assets/images/feature/research/01.svg" alt="">
            </div>
            <div class="rt-shape__2">
                <img src="assets/images/feature/research/02.svg" alt="">
            </div>
            <div class="rt-shape__3">
                <img src="assets/images/feature/research/03.svg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- research area end -->