<!-- our service area -->
<div class="rts-service @@class">
    <div class="row">
        <div class="single-service-content">
            
            <div class="single-service">
                <div class="icon">
                    <img src="assets/images/icon/university.svg" alt="uni logo">
                </div>
                <div class="content">
                    <h5 class="service-title">University Life</h5>
                    <p>Academic Excellence and Intellectual</p>
                </div>
            </div>

            <div class="single-service">
                <div class="icon">
                    <img src="assets/images/icon/e-cap-big.svg" alt="uni logo">
                </div>
                <div class="content">
                    <h5 class="service-title">Postgraduate</h5>
                    <p>Academic Excellence and Intellectual</p>
                </div>
            </div>

            <div class="single-service">
                <div class="icon">
                    <img src="assets/images/icon/undergraduate.svg" alt="uni logo">
                </div>
                <div class="content">
                    <h5 class="service-title">Undergraduate </h5>
                    <p>Academic Excellence and Intellectual</p>
                </div>
            </div>

            <div class="single-service">
                <div class="icon">
                    <img src="assets/images/icon/globe.svg" alt="uni logo">
                </div>
                <div class="content">
                    <h5 class="service-title">Global Scholarship</h5>
                    <p>Academic Excellence and Intellectual</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- our service area end -->