
<div class="main-nav-one">
    <nav>
        <ul>
            <li class="has-dropdown">
                <a class="nav-link" href="#">Home</a>
                <ul class="submenu">
                    <li><a href="index.html">Home One</a></li>
                    <li><a href="index-two.html">Home Two</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a class="nav-link" href="#">Pages</a>
                <ul class="submenu">
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="athletics.html">Athletics</a></li>
                    <li class="sub-dropdown">
                        <a href="javascript:void(0);">Faculty</a>
                        <ul class="submenu third-lvl base">
                            <li><a class="mobile-menu-link" href="faculty.html">Faculty Staff</a></li>
                            <li><a class="mobile-menu-link" href="faculty-details.html">Faculty details</a></li>
                        </ul>
                    </li>
                    <li><a href="research.html">Research</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a class="nav-link" href="#">Academics</a>
                <ul class="submenu">
                    <li><a href="academic.html">Academics</a></li>
                    <li><a href="admission.html">Admission</a></li>
                    <li><a href="academic-area.html">Academics Area</a></li>
                    <li><a href="campus-life.html">Campus Life</a></li>
                    <li><a href="scholarship.html">Scholarship</a></li>
                    <li><a href="tution-fee.html">Tution Fee</a></li>
                    <li><a href="program-single.html">Program Single</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a class="nav-link" href="#">Event</a>
                <ul class="submenu">
                    <li><a href="event.html">Event</a></li>
                    <li><a href="event-details.html">Event Details</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a class="nav-link" href="#">Blog</a>
                <ul class="submenu">
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog-grid.html">Blog Grid</a></li>
                    <li><a href="blog-list.html">Blog List</a></li>
                    <li><a href="blog-details.html">Blog Details</a></li>
                </ul>
            </li>
            <li><a class="nav-link" href="contact.html">Contact</a></li>
        </ul>
    </nav>
</div>
