    <!-- header style one -->
    <header id="rt-header" class="header-one header--sticky">
        <div class="header-top-one-wrapper rt-primary-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-top-one">
                            <div class="left-information">
                                <a href="mailto:someone@example.com" class="email"><i class="fa-light fa-envelope"></i>info@studyhub.com</a>
                                <a href="tel:+4733378901" class="email"><i class="fa-light fa-phone"></i>+61 012 012 445</a>
                            </div>
                            <!-- right area -->
                            <div class="right-information">
                                <ul class="rts-dropdown-menu language-switch">
                                    <li class="has-child-menu">
                                        <a href="#">
                                            <span class="menu-item">English</span>
                                            <i class="fa-regular fa-chevron-down"></i>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">
                                                    <span class="menu-item">Deutsch</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="menu-item">Portuguese</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="menu-item">Russian</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="rts-dropdown-menu switcher-currency">
                                    <li class="has-child-menu">
                                        <a href="#">
                                            <span class="menu-item">USD</span>
                                            <i class="fa-regular fa-chevron-down"></i>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">
                                                    <span class="menu-item">Euro</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="menu-item">Real</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="menu-item">Ruble</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-one-wrapper">
                        <div class="left-side-header">
                            <a href="index.html" class="logo-area">
                                <img src="assets/images/logo/logo-default.svg" alt="logo">
                            </a>
                        </div>
                        @@include('elements/nav.html')
                        <div class="header-right-area-one">
                            <div class="header-right-content">
                                <div class="search-form">
                                    <form action="#">
                                        <input type="text" name="s" id="search-site" placeholder="Search...">
                                        <button type="submit"><i class="fa-light fa-magnifying-glass"></i></button>
                                    </form>
                                </div>
                                <div class="menu-bar" id="menu-btn">
                                    <img src="assets/images/icon/bar.svg" alt="menu-bar">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header style end -->